
.logo {
    text-align: center;
    padding: 4rem 0 4rem 0;
}

.title {
    margin: 2rem;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 16px;
    text-align: start;

    color: #181725;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 2rem 2rem;

}

.form-field form {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.form-field form label {
    font-size: 2.1rem;
}

.form-field form input {
    font-size: 2rem;
}

.forget-pass {
    float: right;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.entry-button {
    text-align: center;
    padding: 4rem 0 4rem 0;
}

.entry-button button {
    border: none;
    background: #F1186A;
    border-radius: 2rem;
    padding: 2.5rem 14rem;
    font-weight: bold;
}

.entry-button button {
    text-decoration: none;
    color: #FFF9FF;
}

.signup {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    color: #181725;
}

.signup p {
    padding: 0.5rem;
}

.signup span a {
    text-decoration: none;
    color: #F1186A;   
}