:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #181725;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FCFCFC;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  font-family: 'Nobile', sans-serif;
}
